---
- name: Configure web server in containers
  hosts: all
  become: true
  tasks:
    - name: Install Apache
      ansible.builtin.apt:
        name: apache2
        state: present
        update_cache: true

    - name: Ensure Apache enabled and running
      ansible.builtin.service:
        name: apache2
        state: started
        enabled: true

    - name: Deploy index.html
      ansible.builtin.template:
        src: "roles/webserver/templates/index.html.j2"
        dest: "/var/www/html/index.html"
        owner: "www-data"
        group: "www-data"
        mode: "0644"
